@import "@lunara/tailwind/theme.css";
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE & Edge */
        scrollbar-width: none; /* Firefox */
    }
}


html {
    overflow-y: scroll;
}

body {
  margin: 0;
    padding: 0;
  display: flex;
    justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.material-symbols-fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
